.container-fluid{
    background-color: #FFF9F4;
}
.navbar-brand img{
    width: 291.11px;
    height: 39.27px;
}
.top-side{ 
    height: 600px;
    background-color: #FFF9F4;
}
.top-col img{
    margin-top: 80px;
    margin-left: 80px;
    width: 450px;
    height: 400px;
}
.name{
    color: rgb(250, 128, 76);
}

.top-side h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin-top: 120px;
    color: rgb(54, 57, 88);
}

.navbar-nav a{
    margin-left: 30px;
}

h2{
    color: rgb(54, 57, 88);
    margin-left: 20px;
}

.shoe img{
    width: 310px;
    height: 300px;
    margin: 15px;
    box-shadow: 1px 1px 2px 2px rgb(228, 224, 224);
    border-radius: 10px;
}


.btn-primary{
    margin-top: 10px;
    height: 60px;
    width: 170px;
}

.btn-primary img{ 
    width: 30px;
    height: 30px;    
}
.last-img img{
    width: 599px;
    height: 354px;
}
.col-md-4 img{
    width: 100px;
    height: 100px;
}
.log img{
    height: 354px;
    width: 600px;
}
@media (max-width: 1000px){
   .top-side img{
      width: 300px;
      height: 300px;
  }
  .card{
      width: 230px;
  }
  .shoe img{
      width: 200px;
      height: 200px;
  }
  .btn-primary{
      font-size: 12px;
      width: 80px;
      height: 30px;
  }
  .col{
      margin-bottom: 20px;
  }
  .bottom-side{
      width: 300px;
  }
  .bottom-side img{
      width: 60px;
      height: 60px;
  }
  .card-body{
      width: 200px;
      font-size: 10px;
  }
  .down{
      display: flex;
  }
  .log img{
      height: 300px;
      width: 300px;
  }
}
@media (max-width: 500px){
    .top-side{
        height: 850px;
        width: 470px;
    }
    .top-side img{
        width: 300px;
        height: 300px;
    }
    .top-texts{
        margin-left: 20px;
    }
    
    .shoe{
        margin-left: 70px;
    }

    h2{
        margin-left: 100px;
    }
    .shoe img{
        width: 200px;
        height: 200px;
    }
    .btn-primary{
        font-size: 12px;
        width: 80px;
        height: 30px;
    }
    .col{
        margin-bottom: 20px;
    }
    .bottom{
        display: inline;
    }
    .bottom-side{
        width: 300px;
    }
    .bottom-side img{
        width: 60px;
        height: 60px;
    }
    .card-body{
        width: 200px;
        font-size: 10px;
    }
    
    .log img{
        height: 300px;
        width: 300px;
    }
}

